.main__content {
    font-size: 18px; /* or any desired size */
}

/* Media Queries 

.page-content {
  width: {{ site.responsive_width[0].size }}; 
}

@media {{ site.responsive_width[1].media }} {
  .page-content {
    width: {{ site.responsive_width[1].size }};
  }
}

@media {{ site.responsive_width[2].media }} {
  .page-content {  
    width: {{ site.responsive_width[2].size }};
  }
}
*/
